<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的第一个页面</title>
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.js"></script>
</head>

<body>
    <div id="home">
        <div class="header">
            <h1>{{ siteInfo.title }}</h1>
            <img src="/upload/{{siteInfo.logo}}" alt="">
        </div>
        <hr/>
        <div class="content">
            <!-- 导航栏 -->
            <div class="menu">
                <!-- django中的for循环,记好 -->
                <div v-if="item.id==choosed" v-for="item in classes" class="item" style="background:#777;color: #fff">
                    <!--  路由传参的本质在这里,a标签对应浏览器的url,传入一个id参数-->
                    <a>[[item.text]]</a>
                </div>
                <div v-else class="item" v-on:click="chooseClass(item.id)">
                    <!--  在前后端不分离中。路由传参的本质是,a标签对应浏览器的url,传入一个id参数-->
                    <a>[[item.text]]</a>
                </div>
            </div>
            <!-- 用户列表 -->
            <div v-if="item.id==choosed" v-for="item in classes" class="userlist">
                <p>[[item.text]]</p>
                <hr>
                <div v-if="item.userlist.length>0" v-for="user in item.userlist" class="user">
                    <img src="/static/admin.jpg" alt="">
                    <p>[[user.nickName]]</p>
                </div>
                <p v-else>没有用户</p>
            </div>
        </div>
        <hr/>
        <div class="foot">
            Copyright@ 2020Dweb工作室
        </div>
    </div>

    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#home',
            data: {
                choosed: 1,
                classes: []
            },
            mounted() {
                this.getdata()
            },
            methods: {
                getdata() {
                    axios({
                        url: '/api/',
                        type: 'json',
                        method: 'get'
                    }).then(res => {
                        this.classes = res.data.classes
                            // console.log(this.classes)
                    })
                },
                chooseClass(id) {
                    this.choosed = id
                }

            }
        })
    </script>
</body>

</html>